* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  background-color: #283149;
  text-align: center;
}

.heading {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

.set {
  margin: 10% auto;
  margin-bottom: 8%;
}

.drum {
  display: inline-block;
  width: 9rem;
  height: 9rem;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.w {
  background-image: url(./assets/images/crash.png);
}

.a {
  background-image: url(./assets/images/kick.png);
}

.s {
  background-image: url(./assets/images/snare.png);
}

.d {
  background-image: url(./assets/images/tom1.png);
}

.j {
  background-image: url(./assets/images/tom2.png);
}

.k {
  background-image: url(./assets/images/tom3.png);
}

.l {
  background-image: url(./assets/images/tom4.png);
}

.footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

